table.dataTable thead .sorting {
  background-image: url("../img/datatables/sort_both.png") !important;
}
table.dataTable thead .sorting_asc {
  background-image: url("../img/datatables/sort_asc.png") !important;
}
table.dataTable thead .sorting_desc {
  background-image: url("../img/datatables/sort_desc.png") !important;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/datatables/sort_asc_disabled.png") !important;
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/datatables/sort_desc_disabled.png") !important;
}
